<div class="page-content" fxLayout="column" fxLayoutAlign="center center">
  <div class="heading-area" fxFlex="30" fxLayout="column" fxLayoutAlign="center start">
    <h3>Welcome to</h3>
    <h1 class="main-heading">Oliver's Farm & Snacks</h1>
    <h4>The one stop shop for all your farming needs</h4>
  </div>
  <div class="home-images" fxFlex="60" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-evenly center">
    <img src="../../../assets/images/woolly-team-work-1.png" class="home-img"/>
    <img src="../../../assets/images/woolly-online-shopping-1.png" class="home-img"/>
  </div>
</div>
